<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/style.css">
     <link rel="shortcut icon" href="reservar.png">
    <title>Reservar</title>
   
</head>
<body>
     <!--Começo do Cabecalho-->
    <header>
        <div class="cabecalho">
            <a href="/home"><img src="logo.png" alt="" class="logo1"></a>
            <a href="/perfil"  ><img src="perfil.png" alt="" class="logo2"><p id="perfil2">Perfil</p> </a>
        </div>
    </header>
     <!--Fim do Cabecalho-->
     <div>
     <!--Inicio Botoes laterais-->
    <div class="botoes" >
        <a href="/reservar" class="botoes2">Reservar</a>
        <a href="/home" class="botoes2" style="margin-top: 15px;">Horários</a>
    </div>
    <!--Fim Botoes laterais-->

    {{{body}}}
    
</body>
</html>