<div class="conteudo-principal">
            <div class="btn-admin">
                <a href="/Cadastro-Pessoa" >Adicionar ou editar usuário</a>
                <a href="/Cadastro-Sala">Adicionar ou editar Sala</a>
                <a href="/usuarios">Todos os usuarios</a>
            </div>
            

        </div>