 <form action="" method="post">
    <div class="conteudo-principal">
                <div class="forms-usuario">
                    <p>Adicionar nova sala</p>
                    <input type="text" placeholder="Nome da Sala" id="Nome-Sala"/> <br>
                        <input type="password" placeholder="ID" id="ID"/>
                        
                        <div class="editar">
                            <button ><a href="telaadmin.html" style="color:#ffffff ;text-decoration:none;">Voltar</a></button>
                            <button>Editar</button>
                            <button>Salvar</button>
                        </div>
                    </div>
          
        </div>
 </form>
 