<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teste</title>
</head>
<body>
        
 <div class="container">
                <form class="box">
                        
                        <p id="tittle">Login</p>
                        <br>
                        <input type="text" placeholder="Usuario" id="usuario">
                        <br>
                        <input type="password" placeholder="Senha" id="senha">
                        <br>
                        <input id="entrar" type="submit" onclick="logar(); return false">

                </form>
    </div>
        
</body>
</html> 
 
 