<div class="conteudo-principal">
        <div class="perfil">
            <p>Nome: Neymar dos Santos Junior</p>
            <p>User: neymar.junior</p>
            <p>Cargo:  professor</p>
        </div>
        
    </div>