<form action="/reservasala" method="POST">
    <div class="conteudo-principal">

        <div class="formulario">

            <label for="name">Nome</label>
            <input type="text" name="nomereserva">
            <br><br>
            <label for="salas">Salas</label>
            <input type="text" name="salas">

            <br><br>
            <label for="horario">Data:</label>
            <input type="date" id="date" name="date">
            <input type="time" id="hora1" name="horaentrada">
            <input type="time" id="hora2" name="horasaida">
            <br><br>


            <button type="submit" class="btn-form" >Reservar</button>

        </div>
       
    </div>
    
</form>

